html {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 14px;
  color: #555;
  background: #f0f0f0;
  text-shadow: 0 1px 0 #fff;  
}
#websocket-error {
  display: none;
}
#desktop, #mobile {
  display: none;
}
#your-code {
  font-family: 'Monaco', 'Bitstream Vera Sans', 'Consolas', monospace;
  color: #000;
  font-weight: bold;
}
#debug {
  margin: 20px 0;
  padding: 10px;
  background: #444;
  color: #f0f0f0;
  text-shadow: 0 1px 0 #000;
  font-family: 'Bitstream Vera Sans Mono', 'Monaco', 'Consolas', monospace;
  height: 200px;
  overflow: scroll;
}
.player {
  -webkit-perspective: 200;
  perspective: 200;
  width: 134px;
  height: 134px;
  position: absolute;
  z-index: 100;
  display: none;
  background: #ddd;
  border: 1px solid #ccc;
}
.player div {
  position: relative;
  margin: 3px;
  width: 128px;
  height: 128px;
  background: url('img/html5.png') 0 0 no-repeat;
  background-size: 128px;
}